* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --header: 70px;
  --light: #d7dde1;
  --dark: #2d2f31;
  --tan: #e6ddb8;
  --light-blue: #47bbcc;
  --dark-blue: #386da9;
}

/* Header ---------- */

.header {
  display: flex;
  background-color: var(--light-blue);
}

.logo {
  height: var(--header);
  flex-grow: 1;
}

.logo img {
  height: 100%;
}

.menu a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--dark);
  padding-right: 2em;
  height: 100%;
  font-size: 1.3em;
  font-weight: 600;
  cursor: pointer;
}

.menu a:hover {
  color: var(--dark-blue);
}

/* Main ---------- */

#container {
  position: relative;
}

.main-content {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--header));
}

/* MAP */

.map-wrapper {
  position: relative;
  width: 100%;
  /* height: 100%; */
  flex: 0 1 auto;
}

#mapid {
  /* width: 100%; */
  height: 100%;
}

.toggle-menu {
  position: absolute;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  line-height: 40px;
  font-size: 1.1rem;
  top: 30px;
  left: 0;
  writing-mode: vertical-rl;
  width: 40px;
  height: 120px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--light-blue);
  z-index: 2500;
}

/* Park Menu */

.park-menu-wrapper {
  background-color: var(--light-blue);
  color: var(--dark);
  overflow: auto;
  flex: 1 0 auto;
  max-width: 100%;
}

.collapsed {
  max-width: 0;
}

.park-menu-list {
  list-style: none;
}

.park-menu-header {
  font-size: larger;
  text-align: center;
  font-weight: 600;
}
.park-menu-header,
.park-menu-label {
  display: block;
  padding: 1rem 2rem;
}
.park-menu-label {
  cursor: pointer;
}
.active,
.park-menu-label:hover {
  color: var(--light);
  background-color: var(--dark-blue);
}
.park-menu-label:after {
  content: "+";
  text-align: right;
  float: right;
  width: 2em;
}
.active:after {
  content: "-";
}
.park-menu-list > li > ul {
  max-height: 0;
  overflow: hidden;
  background-color: var(--tan);
}
.park-menu-list > li > ul > li {
  cursor: pointer;
  color: var(--dark);
  padding: 1rem 0 1rem 2rem;
}

/* MODAL #################### */

.modal-wrapper {
  display: none;
  flex-direction: column;
  position: relative;
  margin: auto;
  background-color: var(--tan);
  color: var(--dark);
  padding: 10px 10px 30px 10px;
  width: 500px;
  height: 100%;
  /* box-shadow: 0 10px 6px -6px #777; */
}

.modal-html {
  flex-grow: 1;
}

.modal-html > img {
  display: block;
  margin: auto;
  object-fit: contain;
  max-height: 400px;
  max-width: 400px;
}

.modal-html > ul > li::marker {
  color: var(--dark);
}

.modal-wrapper > .nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.modal-wrapper > .nav > button {
  width: 120px;
  padding: 0.5em;
  margin-top: 12px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.modal-wrapper > button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--dark);
  font-size: 1.7rem;
  top: 0;
  right: 0.6rem;
}

/* MEDIA ---------- */

@media (max-width: 600px) {
  .header {
    display: none;
  }

  .main-content {
    height: 100vh;
  }

  .park-menu-wrapper {
    padding: 0;
  }

  .modal-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20500;
  }
}
